.idea/
/lab5/TestJSF/nbproject/private/
/lab5/TestJSF/build/
/lab5/TestJSF/dist/
/lab5/JSFApp/build/
/lab5/JSFApp/dist/
/lab5/JSFApp/nbproject/private/
/lab6/phone-service/nbproject/private/
/lab6/phone-service/build/
/lab6/phone-service/dist/
/lab6/audio-library-service/nbproject/private/
/lab6/audio-library-service/dist/
/lab6/audio-library-service/build/
